<body>
    <div id="intro-container">
        <div class="welcome-text">
            <h1>Welcome,</h1>
        </div>
        <div class="intro-text">
            <h4>
                Search 23 is the  go to app for finding and offering trusted services and business quiclky and safely. 
                It  is a better way to get things done with less worry. 
                Business owners can join with a once off fee of R50 and a subscription there after.
            </h4>
        </div>
        <div class="action-buttons">
            <div><button routerLink="/about" >About</button></div>
            <div><button routerLink="/home" >Quick Search</button></div>
            <div><button routerLink="/join1" >Join Search 23</button></div>
        </div>
    </div>
</body>
