<body>
    <div id="about-container">
        <div class="back-btn">
                <i routerLink="/" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        </div>
        <div class="description-alert">
            <div class="alert-header">
                <h3>COVID-19 Alert</h3>
            </div>
            <div class="alert-info">
                <h4>
                    Dear user, we understand that due the COVID-19 pandemic a lot of services have been suspended. 
                    This version of Search 23 aims to Provide help or essential services.
                </h4>
            </div>
        </div>
        <div class="about-content">
            <div class="main-header">
                <h1>About</h1>
            </div>
            <div class="about-info">
                <p>
                    Business owners and professional service providers join the App with a monthly fee. 
                    Their businesses will be available for App users to browse through to find a service they are looking for.
                    Search 23 does not own any of the listed businesses, 
                    we are only a platform to reduce time you’d normally spend looking for a service provider.
                </p>
            </div>
        </div>
    </div>    
</body>