<div id="signin-container">
    <div class="toolbar-orange">
        <div class="back-btn">
            <i routerLink="/otc" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        </div>
        <div class="toolbar-title">
            <h1>Reset Password</h1>
        </div>
        <div class="toolbar-spacer"></div>
    </div>

    <div class="signin-content">
        <div class="signin-form">
            <form #otc="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="otc" ngModel placeholder="Enter new password" class="input-field">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="otc" ngModel placeholder="Re enter new password" class="input-field">
                </div>

                <div class="login-btn">
                    <input type="submit" value="Submit" routerLink="/signin">
                </div>
            </form>    
        </div>    
    </div>
</div>
