<div class="toolbar">
    <div class="back-btn">
        <i routerLink="/settings" class="fa fa-arrow-circle-o-left"  aria-hidden="true"></i>
    </div>
    <div class="toolbar-title">
        <h1>Account </h1>
    </div>
    <div id="mySidenav" class="sidenav">
        <h3 class="sidenav-title">Explore</h3><hr>
        Find by categoty
        <a class="closebtn" (click)="closeNav()">&times;</a>
        <a (click) = "getBuilders()" (click)="closeNav()" routerLink="/results" class="sidenav-link">Builders</a>
        <a (click)="getMachanics()" (click)="closeNav()" routerLink="/results">Mechanics</a>
        <a (click)="getFood()" (click)="closeNav()" routerLink="/results">Catering/Food</a>
        <a (click)="getMusic()" (click)="closeNav()" routerLink="/results">Music</a>
        <a (click)="getHair()" (click)="closeNav()" routerLink="/results">Hair & Beauty</a>
        <a (click)="getPlumbing()" (click)="closeNav()" routerLink="/results">Plumbing</a>
        <a (click)="getTransport()" (click)="closeNav" routerLink="/results">Transport</a>
        <a (click)="getTutor()" (click)="closeNav()" routerLink="/results">Tutor</a><hr>
        <a routerLink="/settings">Settings</a>
        <a routerLink="/home">Home</a>

    </div>
    <div class="nav-btn">
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">
            <i class="fa fa-align-right" aria-hidden="true"></i>
        </span>
    </div>
</div>