.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-title {
    position: absolute;
    top: 0;
    left: 56px;
    color: #fd850d;
    font-weight: 300;
    font-size: 19px;
    margin-right: 50px;
    margin-top: 46px;
}
  
.sidenav a {
    padding: 8px 8px 8px 56px;
    text-decoration: none;
    font-weight: 300;
    font-size: 19px;
    color: #767577;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #fd850d;
}
  
.sidenav-link {
    margin-top: 65px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 26px;
    color: #fd850d;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html{
	font-size: 16px;
}

body{
	font-size: 0.875em;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.toolbar {
    display: grid;
    grid-template-columns: 20% auto 20%;
    width: 100%;
    height: 105px;
    background: linear-gradient(#713642, #401852);
    color: white;
    vertical-align: middle;
    padding: 40px 37px;
    /* border: 1px solid red; */
}

.toolbar-trans {
    display: grid;
    grid-template-columns: 20% auto 20%;
    width: 100%;
    height: 105px;
    background: none;
    color: white;
    vertical-align: middle;
    padding: 40px 37px;
}

.toolbar-orange {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100%;
    width: 100%;
    height: 105px;
    background: #fd850d;
    color: white;
    vertical-align: middle;
    padding: 40px 37px;
}


.back-btn {
    color: #fff;
    margin-bottom: 24.8px;
}

.back-btn i {
    font-weight: 300;
    font-size: 29.2px;
}


.home-btn {
    color: #fff;
    margin-bottom: 24.8px;
}

.home-btn i {
    font-weight: 300;
    font-size: 29.2px;
}

.toolbar-title h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 19px;
}

.nav-btn {
    text-align: right;
}

.nav-btn button {
    border: none;
    background: none;
    color: #fff;
}

.nav-btn button i {
    font-weight: 300;
    font-size: 29.2px;
}